@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

.major {
  height: 5em;
}

.user_image {
  height: 20em;
}

.log_in_form {
  height: 20em;
}

.log_out_form {
  height: 5em;
}

.form {
  width: 80%;
  height: 30em;
}